body{
    font-family: sans-serif;
}
.conteudo-p1{
    background-color: blanchedalmond;
}
.conteudo-p2{
    background-color: blue;
}
.interna1{
    background-color: aqua;
    width: 25%;
}
.interna2{
    background-color: blueviolet;
    width: 25%;
}
.container{
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
    height: 300px;
    gap: 20px;
}